//font sizes
$font-size-root: 10px;

$font-size-body: 1.8rem;

$font-size-h1: 8rem;
$font-size-h1-mobile: 4rem;

$font-size-h2: 6rem;
$font-size-h2-mobile: 3.2rem;

$font-size-h3: 4rem;
$font-size-h3-mobile: 2.4rem;

$font-size-h4: 3.2rem;
$font-size-h4-mobile: 2rem;

$font-size-h5: 2.4rem;
$font-size-h5-mobile: 1.8rem;

$font-size-h6: 1.6rem;

$font-size-xlg: 2.4rem;

$font-size-lg: 2rem;

$font-size-md: 1.8rem;

$font-size-sm: 1.6rem;

$font-size-xsm: 1.4rem;

$font-size-xxsm: 1.2rem;

//font weights
$font-weight-ultralight: 100;

$font-weight-light: 200;

$font-weight-book: 300;

$font-weight-regular: 400;

$font-weight-medium: 500;

$font-weight-bold: 600;

$font-weight-extrabold: 700;

$font-weight-black: 800;
