@font-face {
  font-family: "Traffic";
  font-weight: $font-weight-regular;
  src: url("/assets/fonts/Traffic-05.ttf.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-weight: $font-weight-regular;
  src: url("/assets/fonts/Helvetica.ttf") format("ttf");
}

@font-face {
  font-family: "Helvetica";
  font-weight: $font-weight-bold;
  src: url("/assets/fonts/Helvetica-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Helvetica";
  font-weight: $font-weight-light;
  src: url("/assets/fonts/Helvetica-light.ttf") format("ttf");
}
