h1 {
  font-size: $font-size-h1;
  font-family: Traffic;
  line-height: 1;
  letter-spacing: 10px;

  @include screen-mobile-plus-and-smaller {
    font-size: $font-size-h1-mobile;
  }
}

h2 {
  font-size: $font-size-h2;
  font-family: Helvetica;
  font-weight: $font-weight-bold;
  line-height: 1.2;
}
