button {
  border-radius: 8px;
  cursor: pointer;
  background-color: $color-primary;
  border: none;
  padding: 10px 20px;
  color: $color-white;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}
